In [1]:
import pandas as pd

In [2]:
raw_data = ['56th road, john street, btm, ka - 56007 ||| 6th mar 2023 ||| 07:56:32',
            '25th ave, mg road, whitefield, ka - 789098 ||| 1st jan 2023 ||| 02:45:23']

In [3]:
# Spliting data and removing |||
split_data = [data.split('|||') for data in raw_data]
split_data

[['56th road, john street, btm, ka - 56007 ', ' 6th mar 2023 ', ' 07:56:32'],
 ['25th ave, mg road, whitefield, ka - 789098 ',
  ' 1st jan 2023 ',
  ' 02:45:23']]

In [8]:
#Extracting required data into the required format
clean_data = []
for data in split_data:
    address = data[0].strip().split(',')
    lane = address[0].strip()
    street = address[1].strip()
    city = address[2].strip()
    state = address[3].strip().split('-')[0].strip()
    pincode = address[3].strip().split('-')[1].strip()
    date = data[1].strip().split()
    month = date[1][:3]
    year = date[2]
    time = data[2].strip().split(':')
    hour = time[0]
    minute = time[1]
    second = time[2]
    clean_data.append([lane, street, city, state, pincode,date,month,year,hour,minute,second])

In [9]:
clean_data

[['56th road',
  'john street',
  'btm',
  'ka',
  '56007',
  ['6th', 'mar', '2023'],
  'mar',
  '2023',
  '07',
  '56',
  '32'],
 ['25th ave',
  'mg road',
  'whitefield',
  'ka',
  '789098',
  ['1st', 'jan', '2023'],
  'jan',
  '2023',
  '02',
  '45',
  '23']]

In [11]:
# Create a pandas data frame using the clean data
df = pd.DataFrame(clean_data, columns=['Lane', 'Street', 'City', 'State', 'Pincode','date', 'Month', 'Year', 'Hour', 'Minute', 'Second'])

In [12]:
df

,Lane,Street,City,State,Pincode,date,Month,Year,Hour,Minute,Second
0,56th road,john street,btm,ka,56007,"[6th, mar, 2023]",mar,2023,07,56,32
1,25th ave,mg road,whitefield,ka,789098,"[1st, jan, 2023]",jan,2023,02,45,23